
@{
    ViewBag.Title = "Adminga";
}
<section class="bannerbottom py-lg-5 py-md-4 py-md-3 py-2" >
    <div class="bannerbottom py-lg-5 py-md-4 py-md-3 py-2">
        <div class="container">
            <div class="row">           

                    <div class="col-md-6 col-sm-12 w3_ban">
                        <div class="card">                           
                            <div class="card-body">
                                <h5 class="card-title">Xabarlar <font color="red"> @ViewBag.habar</font> ta</h5>                               
                                <a href="/Admin/SotilganUy" class="btn btn-primary">Ko'rish</a>
                            </div>
                        </div>
                    </div>
                <div class="col-md-6 col-sm-12 w3_ban">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Uylar</h5>
                            <a href="/Uy/Index" class="btn btn-primary">Ko'rish</a>
                        </div>
                    </div>
                </div>
               
            </div>
           <br />
            <div class="row">


                <div class="col-md-6 col-sm-12 w3_ban">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Xaridorlar</h5>
                            <a href="/Xaridor/Index" class="btn btn-primary">Ko'rish</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 w3_ban">
                    <div class="card">

                        <div class="card-body">
                            <h5 class="card-title">Xonadonlar</h5>
                            <a href="/Xonadon/Index" class="btn btn-primary">Ko'rish</a>
                        </div>
                    </div>
                </div>

            </div>
            <br />
            <div class="row">


                <div class="col-md-6 col-sm-12 w3_ban">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Viloyat</h5>
                            <a href="/Viloyat/Index" class="btn btn-primary">Ko'rish</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 w3_ban">
                    <div class="card">

                        <div class="card-body">
                            <h5 class="card-title">Tuman</h5>
                            <a href="/Tuman/Index" class="btn btn-primary">Ko'rish</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
