@model IEnumerable<WebApplication_brr_bmi1.Models.Users>
@{
    ViewBag.Title = "Korish";
}

<h2>Korish</h2>
<table class="table table-striped">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
        </tr>
    }

</table>


